In [1]:
import os

In [2]:
from Classifier import classifier

In [3]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer 
from sklearn.decomposition import PCA
from scipy.stats import norm
from scipy.stats import multivariate_normal as mvn

In [4]:
docs = pd.read_csv('../Data/Hotel_reviews_dataset.csv')
docs.tail()

                                                  Text Sentiment
297  The location, it's near a few of our favorite ...       NaN
298  They charged money (5$) just to keep your lugg...       NaN
299  While the streets are rather busy during the d...       NaN
300                         Very close to Times Square       NaN
301    Within walking distance to Columbia University.       NaN

In [5]:
docs['Text'][297]

"The location, it's near a few of our favorite craft beer bars."

In [6]:
docs = docs.dropna()
mapp = {'negative':0, 'positive':1}
docs['Sentiment'] = docs['Sentiment'].map(mapp)


X = docs['Text']
y = np.array(docs['Sentiment'])
y

array([0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1,
       1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0,
       0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 0], dtype=int64)

In [7]:
 # settings that you use for count vectorizer will go here 
tfidf_vectorizer=TfidfVectorizer(use_idf=True) 
 
# just send in all your docs here 
tfidf_vectorizer_vectors=tfidf_vectorizer.fit_transform(X)

In [8]:
first_vector_tfidfvectorizer=tfidf_vectorizer_vectors
 
# place tf-idf values in a pandas data frame 
df = pd.DataFrame(first_vector_tfidfvectorizer.todense(), columns=tfidf_vectorizer.get_feature_names())

#df.sort_values(by=["tfidf"],ascending=False)

In [9]:
df

,12am,15,15th,1990,30,302,40,4th,650,about,...,worked,working,workout,works,would,years,yet,you,your,yr
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.234655,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
200,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
201,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
202,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.432667,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
203,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0

In [10]:
def sentiment_classifier(text):
    import pandas as pd
    import numpy as np
    from sklearn.feature_extraction.text import TfidfVectorizer 
    from sklearn.decomposition import PCA
    from scipy.stats import norm
    from scipy.stats import multivariate_normal as mvn
    
    docs = pd.read_csv('../Data/Hotel_reviews_dataset.csv')
    
    mapp = {'negative':0, 'positive':1}
    #docs['Sentiment'] = docs['Sentiment'].map(mapp)

    docs = docs.dropna()
    
    X = docs['Text']
    
    y = np.array(docs['Sentiment'].map(mapp))

    tfidf_vectorizer=TfidfVectorizer(use_idf=True) 

    tfidf_vectorizer=tfidf_vectorizer.fit(X)
    
    tfidf_vectorizer_vectors=tfidf_vectorizer.transform(X)
    
    text_tfidf =tfidf_vectorizer.transform([text])
    
    data = tfidf_vectorizer_vectors.toarray()
    
    text = text_tfidf.toarray()
    
    pca = PCA(5)
    
    X_train = pca.fit(data)
    
    X = pca.fit_transform(data)
    
    text = X_train.transform(text)
    
    sentiment=classifier()
    sentiment.fit(X, y)
    
    output = sentiment.predict(text)
    
    print(output)
    
    if output == 1:
        return('Positive')
    else:
        return('Negative')

In [13]:
sentiment_classifier('This is the best hotel')

0

'Negative'

In [14]:
pca =PCA(5)

In [15]:
X_train = pca.fit_transform(df)

In [16]:
X_train

array([[-0.09611961,  0.28411184,  0.50745561, -0.07564546, -0.10483755],
       [-0.01774207, -0.05467388, -0.08261813, -0.16570273,  0.13396781],
       [ 0.31907679,  0.33713299, -0.0652928 ,  0.31439303,  0.20666176],
       ...,
       [-0.04819174,  0.05235162, -0.10629893,  0.01960495, -0.08684663],
       [-0.08374738, -0.01367994, -0.07454348, -0.01666048,  0.0257464 ],
       [-0.166778  , -0.12212973, -0.06838134,  0.06364841,  0.07130393]])

In [17]:
sentiment=classifier()
sentiment.fit(X_train, y)

In [21]:
sentiment.predict(np.array([-0.166778  , -0.12212973, -0.06838134,  0.06364841,  0.07130393]))

0

In [18]:
data = {}
i = 0
import csv
with open('Data/Hotel_reviews_dataset.csv', 'r') as cssv:
    for row in csv.reader(cssv):
        data[i] = row
        i += 1

FileNotFoundError: [Errno 2] No such file or directory: 'Data/Hotel_reviews_dataset.csv'

In [ ]:
data

In [ ]:
import pandas as pd
df = pd.read_csv('Data/Hotel_reviews_dataset.csv')
df.head(20)

In [ ]:
from sklearn.datasets import load_breast_cancer
data = load_breast_cancer()

In [ ]:
X=data.data
y=data.target

In [ ]:
X

In [ ]:
import numpy as np

In [ ]:
np.array([[1],[2], [3]])

In [ ]:
from Classifier import *